body {
  text-align: center;
}

header {
  background-color: blueviolet;
  color: white;
  padding: 24px;
}

main {
}

section {
  display: flex;
  flex-direction: column;
  background-color: rgb(141, 133, 133);
}
